* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #151314;
}

body{
    font-family: 'Share Tech', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343A40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343A40, #2B2C31, #211F22, #151314, #000000);
    max-width: 1210px;
    margin: 0 auto;

}
/* container {
    background-color: #343A40;
} */
/* .wrapper{
    margin-right: auto;
    max-width: 116px;
    padding-right: 10px;
    padding-left: 10px;
} */
container {
    display: flex;
    flex-flow: column;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 1240px;
    margin: 3% auto;
    padding: 40px 20px 60px;
    background-color: #222;
    -webkit-box-shadow: 0 0 40px -10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 40px -10px rgba(0,0,0,.2);
    box-shadow: 0 0 40px -10pxrgba(0,0,0,.2);
    border-radius: 40px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: lightslategray;
    opacity: 0.8;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7684115882681197) 20%, rgba(0,212,255,1) 100%);
    display: flex;
    opacity: 1;
    border-radius: 25px;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
.header nav {
    padding-top: 15px;
    margin-left: 40px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
}
.header nav ul li {
    display: inline-block ;
    margin-left: 25px;
}




.section {
    border-top: 20;
    margin-top: 35px;
    /* margin-bottom: 20px; */
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7684115882681197) 20%, rgba(0,212,255,1) 100%);
    opacity: 1;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.hero{
    background-image: url(../images/blue-smoke-background.jpg);
    background-color: aliceblue;
    background-size: cover;
    height: 250px;
    position: relative;
}

.hero-text{
    position: absolute;
    right: 30px;
    bottom: 20px;


}

.content {
    /* flex: 1 0 60%; */
    width: 65%;
    border-left: 20px solid #343A40;
    

}
 p{
    border: 0 19 0 0;
    border-color: hsl(280, 5%, 13%);
    font-size: medium;
}
.title {
    display: flex;
    justify-content: flex-end;
    /* flex: 0 0 30%; */
    width: 25%;
    margin-right: 20px;
}
h4 {
    text-align: right;
}
.section-about-me {
    padding-left: 20px;
    padding-top: 20px;
}
.section-about-me p {
    padding-bottom: 55px;
}
.section-work {
    display: flex;
    justify-content: center;
}
.work-portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    /* margin: auto 25px auto 25px; */
}
.portfolio {
    max-width: 100%;
    margin: 0px;
    /* height: fit-content; */
}
.first-portfolio {
    max-width: 93% !important;
    margin-bottom: 11px;
}
img {
    border: 4px solid darkgreen;
    width: 100%;
    opacity: 0.7;
}
.first-portfolio {
    max-width: 100% !important;
    flex: none;
}
img:hover {
    opacity: 1;
}
.portfolio {
    position: relative;
}
.desc {
    position: absolute;
    bottom: 15px;
    left: 3px;
    background-color: rgb(29, 100, 100);
    padding: 2px 3px;
}
.desc h6 {
    font-size: 16px;
}
 #img0{
    width: 100%;
    height: 100%;
}

.footer-menu{
    padding: 15px auto 30px auto;


}

.footer nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 25px;
    list-style: none;

}

.footer nav ul li a{
    /* margin: 5px auto 20px auto; */


}